<%= render  "shared/notice" %>

<div class="mt-5 pt-4 row mx-0 px-0 justify-content-center m-auto w-100 container">
    <div class="upcoming eventz row d-flex flex-column m-auto col-12 w-100">
        <h2 class="mb-5 text-center">Created events</h2>
        <div class="row d-flex container justify-content-around">
            <% @user.events.where(user_id: @user.id).each do |event| %>
            <div class="card mb-4 col-md-3 mx-1 shadow " style="max-width: 260px; max-height: 300px;">
                <div class="card-body">
                    <h4 class="card-title mb-3"><%= event.name%></h4>
                    <h6 class="card-subtitle mb-2 text-muted"><%=event.event_date%></h6>
                    <p class="card-text"><%=truncate(event.description, length: 150)%></p>
                    <%= link_to  "Learn more", event_path(event), class: "btn btn-block btn-outline-primary " %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
<div class="mt-5 pt-4 row mx-0 px-0 justify-content-center m-auto w-100 container">
    <div class="upcoming eventz row d-flex flex-column m-auto col-12 w-100">
        <h2 class="mb-5 text-center">Attended events</h2>
        <div class="row d-flex container justify-content-around">
            <% @user.event_attended.each do |event| %>
            <div class="card mb-4 col-md-3 mx-1 shadow " style="max-width: 260px; max-height: 300px;">
                <div class="card-body">
                    <h4 class="card-title mb-3"><%= event.name%></h4>
                    <h6 class="card-subtitle mb-2 text-muted"><%=event.event_date%></h6>
                    <p class="card-text"><%=truncate(event.description, length: 150)%></p>
                    <%= link_to  "Learn more", event_path(event), class: "btn btn-block btn-outline-primary " %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>