<!DOCTYPE html>
<html>

<head>
    <title>PrivateEventz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="m-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <%= link_to  "Private Eventz", root_path, class: "navbar-brand h1" %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
                <ul class="navbar-nav w-100 d-flex justify-content-between ">
                    <div class="d-flex">
                        <li class="nav-item">
                            <%= link_to  "Calender", events_path  , class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to  "Members", users_path  , class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to  "Create an event", new_event_path  , class: "nav-link" if logged_in?%>
                        </li>
                    </div>
                    <div class="d-flex">
                        <li class="nav-item">
                            <% if !session[:current_user].nil?%>
                            <%= link_to "Account", user_path(session["current_user"]["id"]), class: "nav-link" %>
                            <% end %>
                        </li>
                        <li class="nav-item active">
                            <%= link_to  "Signup", signup_path  , class: "nav-link" if !logged_in?%>
                        </li>
                        <li class="nav-item">
                            <%= link_to  "login", login_path  , class: "nav-link" if !logged_in?%>
                        </li>
                        <li class="nav-item">
                            <%= link_to  "Signout", logout_path  , class: "nav-link" if logged_in?%>
                        </li>
                    </div>
                </ul>

            </div>
        </div>
    </nav>
    <%= yield %>
</body>

</html>